
@font-face {
  font-family: "SpaceRanger";
  src: local("SpaceRanger"), url("./fonts/SpaceRangerLaserItalic-copy.ttf") format("truetype");
  font-weight: bold;
}

body {
  background-color: #ffff
  /* background-color: #0b0b0b; */
}

/* H1  */
h1 {
  color:#ffff
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
.video-container video {
  height: 125%;
  min-width: 100%;
  object-fit: cover;
}

.loading-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.dot {
  border-radius: 50%;
  align-content: flex-start;
  position: absolute;
  top: 100px;
  
}
.smoke {
  height: 100%;
  width: 100%;
}
 
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  transition: opacity 0.75s, visibilty 0.75s; 
  flex-wrap: wrap;
  justify-content: center;
}
.section--hidden {
  opacity: 0;
  visibility: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} 

:root {
  --point-color: rgb(255, 255, 255);
  --size: 5px;
}

.loader {
  background-color: transparent;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;  
  z-index: 100000;
  left: 100%;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}
@keyframes preloader {
  100% { transform: scale(2); }
}


