.headerHOne{
    color: black;
    padding-left: 500px;
}
.hOnePortfolio{
    color:black;
    padding-left: 120px;
}
.p {
    color:#000;
}
.navBarPortfolio {
    padding-bottom: 0!important;
}
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'DM-sans', sans-serif;
  } 
  .header {
    font-size: 24px;
    text-align: center;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    border-radius: 4px;
    margin: 0 auto;
    padding-top: 0;
    padding: 40px 0;
    margin-top: 0;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 0 30px;
  }
  
  .wrapper {
    width: 33.3%;
    height: 100%;
    padding: 10px;
  }
  
  .name {
    position: relative;
    font-size: 16px;
    display: inline-block;
  }
  .name.after{
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: 1px;
    background-color: #000;
    bottom: -4px;
    left: 0;
  }
  
  .box {
    position: relative;
    max-height: 400px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow:
    0 1.4px 1.7px rgba(0, 0, 0, 0.017),
    0 3.3px 4px rgba(0, 0, 0, 0.024),
    0 6.3px 7.5px rgba(0, 0, 0, 0.03),
    0 11.2px 13.4px rgba(0, 0, 0, 0.036),
    0 20.9px 25.1px rgba(0, 0, 0, 0.043),
    0 50px 60px rgba(0, 0, 0, 0.06);
  }